{% extends 'base.html' %}

{% block content %}

<h1>SMART INVEST PEAR : STOCKS</h1>
<br>
<br>

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "error" %}
        There was a problem with your ticker symbol...Try again
    {% else %}

        <h2>{{ api.companyName }}</h2><br/>
        Current Price: ${{ api.latestPrice }}<br/>
        Previous Close: ${{ api.previousClose }}<br/>
        Market Capital: {{ api.marketCap }}<br/>
        PE Ratio: {{ api.peRatio }}<br/>
        Yeild: {{ api.ytdChange }}<br/>
        52 Week High: {{ api.week52High }}<br/>
        52 Week Low: {{ api.week52Low }}<br/>
        Market Open: {{ api.isUSMarketOpen }}<br/>

        


    {% endif %}
{% endif %}


{% endblock %}